.row{
    max-width: 82rem;
    display: flex;
    .col-1-2{
        width: calc(2*(100%-2*4rem)/3);
    }
}


.row-2{
    max-width: 5rem;
    margin-top: 2rem;
    margin-left: 4rem;    
    .col-1-5{
        width: calc((100%-4*4rem)/5);

        &:not(:last-child){
            margin-bottom: 4.7rem;
        }

        
    }

}





 